[binaries]
c= 'arm-none-eabi-gcc'
cpp = 'arm-none-eabi-g++'
ar = 'arm-none-eabi-ar'
strip = 'arm-none-eabi-strip'

[properties]
target_includes = ['./target/Atmel/sam4l-ek']
target_sources = ['./target/Atmel/sam4l-ek/startup_sam4l.c']
c_args = ['-Os'
        ,'-mcpu=cortex-m4'
        ,'-mthumb']
cpp_args = ['-Os'
        ,'-mcpu=cortex-m4'
        ,'-mthumb']

cpp_link_args = ['-Os'
        ,'-Wl,-T../target/Atmel/sam4l-ek/flash.ld'
        ,'-mcpu=cortex-m4'
        ,'-mthumb']

[host_machine]
system = 'bare'
cpu_family = 'armv7m'
cpu = 'Cortex-M4'
endian = 'little'

